<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

		<connectionStrings>
			<!--Conexion PRISCILA1
			<add name="cadena_conexion"
				   connectionString="Data Source=PRISCILA\SQLEXPRESS01;Initial Catalog=Proyecto_GymMaster;Integrated Security=True;"
				   providerName="System.Data.SqlClient" />-->
			
			<!--Conexión FEDE-->
			<add name="cadena_conexion"
				 connectionString="Data Source=LAPTOP-CB9S7EA5\SQLEXPRESS;Initial Catalog=Proyecto_GymMaster;Integrated Security=True;Encrypt=False;"
				 providerName="System.Data.SqlClient" />

			<!--Conexion YAGO 
			<add name="cadena_conexion"
				 connectionString="Data Source=YAGO_DELL\SQLEXPRESS01;Initial Catalog=Proyecto_GymMaster;Integrated Security=True;Encrypt=False;Trust Server Certificate=True"
				 providerName="System.Data.SqlClient" /> -->

			
			<!--Conexion Isaac
			<add name="cadena_conexion"
            connectionString="Data Source=ISAAC-DIAZ02\SQLEXPRESS01;Initial Catalog=Proyecto_GymMaster;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
			-->

		</connectionStrings>

</configuration>